In [1]:
import pandas as pd

### Описание данных

```Hotel``` – тип отеля (City Hotel или Resort Hotel)   
```Is canceled``` – бронирование было отменено (1) или нет (0); не отмененное считается успешным  
```Lead time``` – количество дней, прошедших между датой бронирования и датой прибытия  
```Arrival full date``` – полная дата прибытия  
```Arrival date year``` – год прибытия    
```Arrival date month``` – месяц прибытия    
```Arrival date week number``` – номер недели прибытия  
```Arrival date day of month``` – день прибытия  
```Stays in weekend nights``` – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле  
```Stays in week nights``` – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле  
```Stays total nights``` – общее число забронированных ночей (сумма двух предыдущих колонок)  
```Adults``` – число взрослых  
```Children``` – число детей  
```Babies``` – число младенцев   
```Meal``` – выбранный тип питания  
```Country``` – страна происхождения клиента  
```Reserved room type``` – тип зарезервированного номера  
```Assigned room type``` – тип полученного номера (может отличаться от забронированного)  
```Customer type``` – тип бронирования  
```Reservation status``` – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину  
```Reservation status date``` – дата обновления статуса

### Задание 1

Прочитайте датасет bookings.csv с разделителем ;. Сохраните прочитанный датасет в ```bookings```.

Затем запишите первые 7 строк в переменную ```bookings_head```.

In [4]:
bookings = pd.read_csv('2_bookings.csv', sep=';')

In [5]:
bookings.head()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [6]:
bookings_head = bookings[0:7:]

### Задание 2

Посмотрите на размеры таблицы. Сколько всего в ней столбцов?

In [8]:
bookings.shape

(119390, 21)

### Задание 3

К какому типу/каким типам относится большинство переменных?

In [11]:
bookings.dtypes.value_counts()

int64      10
object     10
float64     1
dtype: int64

### Задание 4

Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, и названия колонок были записаны в неудобном для дальнейшей работы формате. Исправьте ситуацию, приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания.

In [12]:
def replace_space(name):
    new_name = name.replace(' ', '_').lower()
    return new_name

bookings = bookings.rename(columns = replace_space)

In [14]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

### Задание 5

Перейдем к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем не было отменено (переменная ```is_canceled```). В качестве ответа выберите страны, входящие в топ-5.

In [20]:
bookings.query('is_canceled != 0').country.value_counts().head()

PRT    27519
GBR     2453
ESP     2177
FRA     1934
ITA     1333
Name: country, dtype: int64

### Задание 6

На сколько ночей (```stays_total_nights```)  в среднем бронируют отели типа City Hotel? Resort Hotel? Запишите полученные значения в пропуски с точностью до 2 знаков после точки.

In [27]:
bookings.groupby('hotel', as_index=False).agg({'stays_total_nights':'mean'}).round(2)

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

### Задание 7

Иногда тип номера, присвоенного клиенту (```assigned_room_type```), отличается от изначально забронированного (```reserved_room_type```). Такое может произойти, например, по причине овербукинга.

Сколько подобных наблюдений встретилось в датасете?

In [30]:
bookings.query("assigned_room_type != reserved_room_type").shape

(14917, 21)

### Задание 8

Теперь проанализируйте даты запланированного прибытия (```arrival_date_year```).

На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

In [32]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

### Задание 9

Сгруппируйте данные по годам, а затем проверьте, на какой месяц (```arrival_date_month```) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?

In [50]:
bookings.query('hotel == "City Hotel" & is_canceled == 0') \
        .groupby(['arrival_date_year', 'arrival_date_month'], as_index=False) \
        .agg({'is_canceled' : 'count'}) \
        .sort_values('is_canceled', ascending=False).head()

    arrival_date_year arrival_date_month  is_canceled
25               2017                May         2339
17               2016          September         2304
16               2016            October         2272
14               2016                May         2240
22               2017               July         2235

### Задание 10

Посмотрите на числовые характеристики трёх колонок: ```adults```, ```children``` и ```babies```. Какая из них имеет наибольшее среднее значение?

In [54]:
bookings[['adults', 'children', 'babies']].mean().idxmax()

'adults'

### Задание 11

Создайте колонку ```total_kids```, объединив столбцы ```children``` и ```babies```. Для отелей какого типа среднее значение переменной оказалось наибольшим?

```City hotel``` – отель находится в городе  
```Resort hotel``` – отель курортный  
В качестве ответа укажите наибольшее среднее ```total_kids```, округлив до 2 знаков после точки.

In [57]:
bookings['total_kids'] = bookings.children + bookings.babies

In [62]:
bookings.groupby('hotel', as_index=False).agg({'total_kids' : 'mean'}).max()

hotel         Resort Hotel
total_kids        0.142586
dtype: object

### Задание 12

Не все бронирования завершились успешно (```is_canceled```), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием ```Churn Rate```.

```Churn rate``` (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

В нашем случае ```Churn Rate``` - это процент клиентов, которые отменили бронирование. Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!

Создайте колонку ```has_kids```, которая принимает значение ```True```, если клиент при бронировании указал хотя бы одного ребенка (```total_kids```), в противном случае – ```False```. Далее проверьте, среди какой группы пользователей показатель оттока выше. 

В качестве ответа укажите наибольший % оттока, округленный до 2 знаков после точки (то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)

In [63]:
bookings['has_kids'] = bookings.total_kids != 0

In [66]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0,False
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0,False
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0,False

In [69]:
bookings.groupby(by='has_kids').is_canceled.value_counts(normalize=True).round(2) * 100

has_kids  is_canceled
False     0              63.0
          1              37.0
True      0              65.0
          1              35.0
Name: is_canceled, dtype: float64